body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 550px;
  padding: 20px;
  border: 1px solid #f81d1d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 70vh; /* This ensures the container takes the full height of the viewport */
  text-align: center;
  background-color: aqua;
}

.profile-form {
  border: 2px solid #ccc; /* Border styling */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  background-color: #f9f9f9; /* Background color */
}

.avatar-container {
  margin-top: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.update-button {
  margin-top: 10px;
}
